{% extends 'home/base.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url "captcha:home" %}">&#8592; Back</a>
</div>

<div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>Please pay attention to the uppercase and lowercase letters.</h3>
        
        
    </div>
<h4><a style="text-decoration: none; color: #410ef1;" href="{% url 'captcha:answering' %}">Refresh</a></h4>
<div class="card-body">
    <img src="{{captcha.image.url}}" alt="captcha">
    <form method="POST" action="{% url 'captcha:answering' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="number"  name="id" value="{{captcha.id}}" style="display:none">
        <input class="button" type="submit" value="Submit">
    </form>
</div>


{% endblock content %}