{% extends 'home/base.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0"><a style="text-decoration: none; color: #410ef1;" href="">{{ans}}</a> out of {{all}} captchas have been answered.</h3>
        
    </div>

    
</div>





<div id="tasklist" class="task-items-wrapper">
    
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h5>This site is for collecting data to train artificial intelligence, which will eventually become an extension that automatically fills the Golestan captcha for you.</h5>
        <h2>It is a collective collaboration for greater movements.</h2>
        <h5>you can download all answered captcha with this <a style="text-decoration: none; color: #410ef1;" href="{% url 'captcha:download' %}">link</a>.</h5>
        
        {% if ans < all %}
            <h1>Answer some <a style="text-decoration: none; color: #410ef1;" href="{% url 'captcha:answering' %}">Captcha</a> ! </h1>
        {% else %}
            <h3>Nice Captchas Ended! </h3>
        {% endif %}
        
    </div>
    
</div>


<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

{% endblock content %}